
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');


/*** 

====================================================================
	Reset
====================================================================

***/



@import url(../assets/revolution/css/settings.css);
@import url(../assets/revolution/css/layers.css);
@import url(../assets/revolution/css/navigation.css);



@media (min-width:1200px) {
  .container {
    padding: 0px;
  }
}

@media (min-width: 1200px){
	.container-fluid {
	    padding: 0px;
	}
}

* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}



.page-wrapper{
	overflow: hidden;
}

p{
	position:relative;
	line-height:1.8em;	
}



.rev_slider_wrapper {
	position: relative;
}
.rev_slider_wrapper .slide-content-box h4 {
  color: #ffffff;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  padding-bottom: 20px;
  letter-spacing: .5px;
  font-family: 'Raleway', sans-serif;
}
.rev_slider_wrapper .slide-content-box h1 {
  color: #ffffff;
  font-size: 38px;
  line-height: 50px;
  font-weight: 600;
  padding: 8px 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.14);
  font-family: 'Poppins', sans-serif;
}
.rev_slider_wrapper .slide-content-box p{
  color: #ffffff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.rev_slider_wrapper .link-btn a{
   font-size: 14px;
   color: #7b64cb;
   line-height: 28px;
   padding: 10px 40px;
   background: #ffffff;
   display: inline-block;
   font-weight: 600;
   text-transform: uppercase;
   font-family: 'Poppins', sans-serif;
   transition: all 500ms ease;
}
.rev_slider_wrapper .link-btn.style-two a{
	color: #ffffff;
	background: #7b64cb;
	transition: all 500ms ease;
}
.rev_slider_wrapper .tp-caption img{
	position: relative;
	width: 100%;
}
.rev_slider_wrapper .link-btn a:hover{
	color: #ffffff;
	background: #7b64cb;
	transition: all 500ms ease;
}
.rev_slider_wrapper .link-btn.style-two a:hover{
	color: #7b64cb;
	background: #ffffff;
	transition: all 500ms ease;
}
.rev_slider_wrapper .slotholder {
  position: relative;
}
.rev_slider_wrapper .slotholder:after {
    background: -moz-linear-gradient(-45deg, rgba(72,189,197,1) 0%, rgba(123,100,203,0.8) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(72,189,197,1) 0%,rgba(123,100,203,0.8) 100%);
    background: linear-gradient(135deg, rgba(72, 189, 197, 0.81) 0%,rgba(123,100,203,0.8) 100%);    
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}
.tp-bannertimer {
  display: block;
  height: 2px;
  background: #48bdc5;  
}
.rev_slider_wrapper .tparrows {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  width: 30px;
  height: 100px;
}
.rev_slider_wrapper .tparrows:before {
    font-family: "FontAwesome";
    font-size: 20px;
    color: #ffffff;
    display: block;
    line-height: 100px;
    text-align: center;
}


