.info-user{
 background-color: #2a4759;
width: 30%;
position: absolute;
float: left;
margin-top: 5%;
margin-left: 5%;
color: white;
height: 590px;
}
div>h3,h5{
    color: #18719c;
    font-weight: bold;
}
.response_input{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
}

.important{
    color: red;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-right: 15px;
}

#estado{
    margin-top: 27px;
}

.header{
    background-color: #2a4759;
    padding: 1%;
    text-align: center;
}

textarea{
    height: 115px !important;
}

.form-bottom{
  margin-top: 5%;
margin-left: 5%;
margin-right: 5%;
}

.col-sm-5 {
    -ms-flex: 1 0 41.666667%;
    flex: 1 0 41.666667%;
    max-width: 100%;
    margin-top: 27px;
}

.form-response{
 background-color: gainsboro;
width: 43%;
float: right;
margin-top: 94px;
margin-right: 5%;
height: 596px;
}

.fecha{
    float:left;
    margin-top: 10px;
    margin-left: 15px;
}

.tipo{
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.info{
    margin-top: 35px;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.slc-objects
{
   
}
.slc-input-folio{
    position:absolute;
    width:calc(70% - 31px);
    max-width: calc(70% - 31px);
    min-width:calc(70% - 31px);
    box-sizing: border-box;
    left:10px;
    float:left;
    
}
.slc-submit-folio
{
    
    background: darkred !important;
    border: none !important;
    color: white !important;
    width:30%;
    max-width:30%;
    min-width: 30%;
    margin:auto !important;
    right:10px;
    position:absolute;
    box-sizing: border-box;
}
.slc-div-content
{
    width:500px;
    max-width:500px;
    min-width:500px;
    
    height:60px;
    overflow:hidden;
    clear:both;
    
    padding-rigth:5%;
    box-sizing: border-box;
    position:relative;
    
}